<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="true"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php"
        executionOrder="random">
    <testsuites>
        <testsuite name="Common TestSuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <report>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener"/>
    </listeners>
</phpunit>